@model VendorMgtMVCApp.ViewModels.VendorBanksMasterVM
<section class="content-header">
    <h1>
        Vendor Banks Master Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Masters</a></li>
        <li class="active">Vendor Banks Master Details</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-10">
            <div class="box box-info bank-details-wrapp">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.Name) ? "NA" : Model.Name)
                        </div>
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BranchName)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.BranchName) ? "NA" : Model.BranchName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AccountName)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.AccountName) ? "NA" : Model.AccountName)
                        </div>
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AccountType)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.AccountType) ? "NA" : Model.AccountType)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AccountNo)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.AccountNo) ? "NA" : Model.AccountNo)
                        </div>
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ifsccode)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.Ifsccode) ? "NA" : Model.Ifsccode)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.CreatedBy.ToString()) ? "NA" : Model.CreatedBy)
                        </div>
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.CreatedDate.ToString()) ? "NA" : Model.CreatedDate.ToString())
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.UpdatedBy.ToString()) ? "NA" : Model.UpdatedBy)
                        </div>
                        <div class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </div>
                        <div class="col-sm-4">
                            @(String.IsNullOrEmpty(Model.UpdatedDate.ToString()) ? "NA" : Model.UpdatedDate.ToString())
                        </div>
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </div>
                    <div class="col-sm-4">
                        @(Model.IsActive == true ? "Active" : "InActive")
                    </div>
                </div>
                <div class="box-footer">
                    <a asp-action="Index" class="btn btn-success">Back</a>
                    <a asp-action="Edit" class="btn btn-primary pull-right" asp-route-id="@Model.Id">Edit</a>
                </div>
            </div>
        </div>
    </div>
</section>