@model IEnumerable<VendorMgtMVCApp.ViewModels.VendorBanksMasterVM>

<section class="content-header">
    <h1>
        Manage Vendor Banks
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Masters</a></li>
        <li class="active">Manage Vendor Banks</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-xs-3">
                        <h3 class="box-title">Vendor Banks Details</h3>
                    </div>
                    <form>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-default bg-yellow" onclick="location.href='@Url.Action("PDFExport", "VendorBanksMaster")'"><i class="fa fa-print" aria-hidden="true"></i> PDF Export</button>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-default bg-olive" onclick="location.href='@Url.Action("ExcelExport", "VendorBanksMaster")'"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel Export</button>
                        </div>
                    </form>
                    <div class="col-xs-3">
                        <a asp-action="Create" class="create-corner-btn pull-right">
                            <i class='fa fa-plus' aria-hidden='true'></i> Create
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="hidedata">
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BranchName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccountName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccountType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccountNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ifsccode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="hidedata">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ifsccode)
                                    </td>
                                    <td>
                                        @(item.IsActive == true ? "Active" : "InActive")
                                    </td>
                                    <td>
                                        <a asp-action="Edit" class="fa fa-pencil" asp-route-id="@item.Id"></a> |
                                        <a asp-action="Details" class="fa fa-eye" asp-route-id="@item.Id"></a> |
                                        <a asp-action="Delete" class="fa fa-times-circle" asp-route-id="@item.Id"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>